@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Corinthia:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Corinthia:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  gap: 20px;
  background: linear-gradient(135deg, #680707, #990b0b);
  z-index: 1;
}

header img {
  width: 50px;
}

header h3 {
  width: 100%;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}

.hero {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 50px;
  background: #990b0b;
}

.hero h1 {
  font-size: 50px;
  color: #fff;
}

section {
  margin: 100px 10%;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.about-text {
  width: 500px;
}

.about-text h1 {
  font-size: 60px;
  letter-spacing: 2px;
}

.about-text p {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
}

.about-img img {
  width: 450px;
  border-radius: 20px;
}

.button-container {
  width: 100%;
  margin: 0;
  padding: 100px 0;
  background: #680707;
}

.button-head {
  text-align: center;
  margin-bottom: 30px;
  font-size: 60px;
  color: #fff;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.buttons a {
  text-align: center;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 20px;
  width: 80%;
  background: #990b0b;
  text-decoration: none;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.buttons a:hover {
  background: #fff;
  color: #990b0b;
}

.test-head {
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
  color: #990b0b;
}

.test-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, auto));
  gap: 20px;
  z-index: 0;
}

.test-item {
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  border-radius: 10px;
  background: #990b0b;
  gap: 20px;
  transition: all 0.3s ease;
}

.test-item:hover {
  transform: translateY(-5px);
}

.test-item i {
  font-size: 25px;
  color: #680707;
  background: #fff;
  padding: 15px;
  border-radius: 50%;
}

.test-item p {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.social-container {
  width: 100%;
  margin: 0;
  padding: 100px 10%;
  background: #680707;
}

.social-head {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.social-head h1 {
  font-size: 60px;
  letter-spacing: 2px;
  color: #fff;
}

.social-head p {
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
}

.social-link {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 20px;
}

.social-link a {
  text-align: center;
  background: #990b0b;
  padding: 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.3s ease;
}

.social-link a:hover {
  opacity: 0.5;
  transform: translateY(-5px);
}

footer {
  padding: 20px;
  text-align: center;
  color: #990b0b;
}

@media (max-width: 500px) {
  .hero h1 {
    font-size: 35px;
  }

  .about-text h1 {
    font-size: 40px;
  }

  .button-head {
    font-size: 40px;
  }

  .test-head {
    font-size: 40px;
  }

  .social-head h1 {
    font-size: 40px;
  }

  .about-img img {
    width: 300px;
  }

  .about-text {
    text-align: center;
  }

  .test-item {
    padding: 20px;
  }
}
